<ion-header>
  <ion-toolbar class="text-center" color='primary'>
      <ion-title>Grassroots</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-2">
  <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <div class="mt-4 text-center">
      <ion-button routerLink="/home" color="primary">Login</ion-button>
  </div>
</ion-content>
