// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3AC55A;
  --ion-color-primary-rgb: 58, 197, 90;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #33ad4f;
  --ion-color-primary-tint: #4ecb6b;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}



.ft-xlarge      { font-size     :   18px !important; }
.ft-large       { font-size     :   15px !important; }
.ft-normal      { font-size     :   12px !important; }
.ft-small       { font-size     :   10px !important; }

.ft-10          { font-size     :   10px !important; }
.ft-12          { font-size     :   12px !important; }
.ft-14          { font-size     :   14px !important; }
.ft-16          { font-size     :   16px !important; }
.ft-18          { font-size     :   18px !important; }
.ft-sub         { font-size     :   12px !important; }

.ftw-500        { font-weight   :   500 !important; }
.ftw-400        { font-weight   :   400 !important; }

/*.text-primary   { color         :   color($colors, primary) !important; }
.text-secondary { color         :   color($colors, secondary) !important; }
.text-tertiary  { color         :   color($colors, tertiary) !important; }
.text-blue      { color         :   color($colors, blue) !important; }*/
.text-light-grey{ color         :   #aaa !important; }
.text-medium-grey{color         :   #777 !important; }
.text-dark-grey { color         :   #444 !important; }

.text-black     { color         :   #000 !important; }
.text-222       { color         :   #222 !important; }
.text-444       { color         :   #444 !important; }
.text-666       { color         :   #666 !important; }
.text-888       { color         :   #888 !important; }
.text-aaa       { color         :   #aaa !important; }
.text-ccc       { color         :   #ccc !important; }
.text-eee       { color         :   #eee !important; }
.text-white     { color         :   #fff !important; }
.text-gold      { color         :   #D39D00 !important; }
.text-sub       { color         :   #666 !important; }
.text-bold      { font-weight   :   bold; }
.text-bold      { font-weight   :   bold; }

//.bg-blue        { background    :   color($colors, blue) !important; }

.bg-black       { background    :   #000 !important; }
.bg-222         { background    :   #222 !important; }
.bg-444         { background    :   #444 !important; }
.bg-666         { background    :   #666 !important; }
.bg-888         { background    :   #888 !important; }
.bg-aaa         { background    :   #aaa !important; }
.bg-ccc         { background    :   #ccc !important; }
.bg-eee         { background    :   #eee !important; }
.bg-white       { background    :   #fff !important; }
/*.bg-primary     { background    :   color($colors, primary) !important; }
.bg-secondary   { background    :   color($colors, secondary) !important; }*/
.bg-f8          { background    :   #f8f8f8 !important; }
.bg-subrow      { background    :   #eee !important; }


.p-0 { padding                  :   0px !important; }
.p-1 { padding                  :   8px !important; }
.p-2 { padding                  :   16px !important; }
.p-3 { padding                  :   24px !important; }
.p-4 { padding                  :   32px !important; }
.p-5 { padding                  :   40px !important; }

.pt-0 { padding-top             :   0px !important; }
.pt-1 { padding-top             :   8px !important; }
.pt-2 { padding-top             :   16px !important; }
.pt-3 { padding-top             :   24px !important; }
.pt-4 { padding-top             :   32px !important; }
.pt-5 { padding-top             :   40px !important; }

.pb-0 { padding-bottom          :   0px !important; }
.pb-1 { padding-bottom          :   8px !important; }
.pb-2 { padding-bottom          :   16px !important; }
.pb-3 { padding-bottom          :   24px !important; }
.pb-4 { padding-bottom          :   32px !important; }
.pb-5 { padding-bottom          :   40px !important; }

.pl-0 { padding-left            :   0px !important; }
.pl-1 { padding-left            :   8px !important; }
.pl-2 { padding-left            :   16px !important; }
.pl-3 { padding-left            :   24px !important; }
.pl-4 { padding-left            :   32px !important; }
.pl-5 { padding-left            :   40px !important; }

.pr-0 { padding-right           :   0px !important; }
.pr-1 { padding-right           :   8px !important; }
.pr-2 { padding-right           :   16px !important; }
.pr-3 { padding-right           :   24px !important; }
.pr-4 { padding-right           :   32px !important; }
.pr-5 { padding-right           :   40px !important; }



.m-0 { margin                   :   0px !important; }
.m-1 { margin                   :   8px !important; }
.m-2 { margin                   :   16px !important; }
.m-3 { margin                   :   24px !important; }
.m-4 { margin                   :   32px !important; }
.m-5 { margin                   :   40px !important; }

.mt-0 { margin-top              :   0px !important; }
.mt-1 { margin-top              :   8px !important; }
.mt-2 { margin-top              :   16px !important; }
.mt-3 { margin-top              :   24px !important; }
.mt-4 { margin-top              :   32px !important; }
.mt-5 { margin-top              :   40px !important; }

.mb-0 { margin-bottom           :   0px !important; }
.mb-1 { margin-bottom           :   8px !important; }
.mb-2 { margin-bottom           :   16px !important; }
.mb-3 { margin-bottom           :   24px !important; }
.mb-4 { margin-bottom           :   32px !important; }
.mb-5 { margin-bottom           :   40px !important; }

.mr-0 { margin-right            :   0px !important; }
.mr-1 { margin-right            :   8px !important; }
.mr-2 { margin-right            :   16px !important; }
.mr-3 { margin-right            :   24px !important; }
.mr-4 { margin-right            :   32px !important; }
.mr-5 { margin-right            :   40px !important; }

.ml-0 { margin-left             :   0px !important; }
.ml-1 { margin-left             :   8px !important; }
.ml-2 { margin-left             :   16px !important; }
.ml-3 { margin-left             :   24px !important; }
.ml-4 { margin-left             :   32px !important; }
.ml-5 { margin-left             :   40px !important; }

.validationErrors {
    color                       :   red;
    border                      :   none;
    font-size                   :   16px;
    border-radius               :   8px;
    padding                     :   10px;
    padding-top                 :   16px;
    //background-color            :   #FF0029;
    margin                      :   0px 0px 8px 0px !important;
    margin-left                 :   8px !important;
}

.validationErr {
    //border :    2px solid #f00 !important;
    ion-input {
        border-bottom: 1px solid red;
    }

    ion-select {
        border-bottom: 1px solid red;
    }
    input::placeholder {
        color   :   red !important;
    }

    .select-placeholder {
        color   :   red !important;
    }
}

.app-icon-24 {
    width                       :   24px;
    height                      :   24px;
}

.app-icon-20 {
    width                       :   20px;
    height                      :   20px;
}

.app-icon-16 {
    width                       :   16px;
    height                      :   16px;
}

.app-icon-14 {
    width                       :   14px !important;
    height                      :   14px !important;
}


.app-icon-12 {
    width                       :   12px !important;
    height                      :   12px !important;
}

.app-icon-10 {
    width                       :   10px;
    height                      :   10px;
}

.app-icon-8 {
    width                       :   8px;
    height                      :   8px;
}

$font-family-md-base: "Roboto";
$font-family-ios-base: "Roboto";
$font-family-md-base: "Roboto";
$font-family-wp-base: "Roboto";

.fav-button {
    display                 :   inline-block;
    text-align              :   center;
    width                   :   40px;
}

.text-center { text-align   :   center !important;  }
.text-left { text-align     :   left !important;    }
.text-right { text-align    :   right !important;   }
.text-justify { text-align  :   justify !important; }

.text-decoration-none { text-decoration  :   none !important;    }
.text-decoration-underline { text-decoration : underline !important;    }


.p-2 {
    --padding-start             :   16px !important;
    --padding-end               :   16px !important;
    --padding-bottom            :   16px !important;
    --padding-top               :   16px !important;
}

ion-content {
    max-width: 800px !important;
    margin: auto !important;
    align-self: center !important;
}

ion-item .item-native {
    --padding-start         :   0px !important;
    padding-left            :   0px !important;
     
    padding-inline-start    :   0px !important;
}
