<ion-header>
	<ion-toolbar class="text-left">
		<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
		Create Event
		</ion-title>
	</ion-toolbar>
</ion-header>

<!-- 
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
	</ion-list>
	
--ion-grid-width-xs:              100%;
--ion-grid-width-sm:              540px;
--ion-grid-width-md:              720px;
--ion-grid-width-lg:              960px;
--ion-grid-width-xl:              1140px;

</ion-content> -->

<ion-content>
	<ion-grid>
		<ion-row> 
			<ion-col size="12" size-md>
			  	<div class="mar">
					<ion-header>
						<ion-toolbar color='primary'>
							<ion-title>Basic Event</ion-title>
						</ion-toolbar>
					</ion-header>
					<div class="p-2">
						<ion-item>
						  <ion-label position="floating">Event Name</ion-label>
						  <ion-input type="text"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Coordinator 1</ion-label>
							<ion-select>
								<ion-select-option value="Sai">Sai</ion-select-option>
								  <ion-select-option value="Sathish">Sathish</ion-select-option>
							  	<ion-select-option value="Ragul">Ragul</ion-select-option>
							  	<ion-select-option value="Prabha">Prabha</ion-select-option>						  
							</ion-select>
						</ion-item>

						<ion-item>
								<ion-label position="floating">Coordinator 2</ion-label>
								<ion-select>
									<ion-select-option value="Sai">Saiyasodharan</ion-select-option>
									  <ion-select-option value="Sathish">Sathish Kumar</ion-select-option>
									  <ion-select-option value="Ragul">Sai Sundeep</ion-select-option>
									  <ion-select-option value="Prabha">Prabhakaran</ion-select-option>						  
								</ion-select>
						</ion-item>
						
						<ion-item>
							<ion-label position="floating">Start Date</ion-label>
							<ion-datetime display-format="DD MMM, YYYY hh:mm A	"></ion-datetime>
						</ion-item>

						<ion-item>
							<ion-label position="floating">End Date</ion-label>
							<ion-datetime display-format="DD MMM, YYYY hh:mm A	"></ion-datetime>
						</ion-item>

						<ion-item>
							<ion-label position="fixed">grs.one/</ion-label>
							<ion-input></ion-input>
						</ion-item>
						
						<ion-item>
							<ion-label position="floating">Cause</ion-label>
							<ion-select>
								<ion-select-option value="SA">Social Awareness</ion-select-option>
								<ion-select-option value="WU">Women' Upliftment</ion-select-option>
								<ion-select-option value="EE">Eduction Empowerment</ion-select-option>
								<ion-select-option value="MA">Medical Awareness</ion-select-option>						  
							</ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Event Type</ion-label>
							<ion-select>
								<ion-select-option value="SAT">Social Activities</ion-select-option>
								<ion-select-option value="CT">Coaching/Teaching</ion-select-option>
								<ion-select-option value="PS">Practial Session</ion-select-option>
								<ion-select-option value="SPORTS">Sports</ion-select-option>						  
							</ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Zone</ion-label>
							<ion-select>
								<ion-select-option value="NC">North-Chennai</ion-select-option>
								<ion-select-option value="SC">South-Chennai</ion-select-option>
								<ion-select-option value="MC">Chennai</ion-select-option>
								<ion-select-option value="kanchipuram">Kancheepuram</ion-select-option>						  
							</ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Volunteers Reqiuired</ion-label>
							<ion-input type="number"></ion-input>
						</ion-item>
						
					</div>

				</div>
			</ion-col>
			<ion-col size="12" size-md >
				<ion-row class="mar">
					<div>
						<ion-header>
							<ion-toolbar color="primary" style="width:100% !important">
								<ion-title>Location</ion-title>
							</ion-toolbar>
						</ion-header>
						<div class="p-2">

						</div>

					</div>
				</ion-row>
				<ion-row class="mar">
					<div>
						<ion-toolbar>
							<ion-title>Description</ion-title>
						</ion-toolbar>
					</div>					
				</ion-row>
			</ion-col>
		</ion-row>
		<ion-row> 
			<ion-col size="12" size-md>
				<ion-row class="mar">
					<div>
						<ion-toolbar>
							<ion-title>Expense Breakdown</ion-title>	
						</ion-toolbar>
					</div>	
				</ion-row>
				<ion-row class="mar">
					<div>
						<ion-toolbar>
							<ion-title>Autopost in Social Media</ion-title>
						</ion-toolbar>
					</div>					
				</ion-row>
			</ion-col>
			<ion-col size="12" size-md>
				<div class="mar">
					<ion-toolbar>
						<ion-title>Misc</ion-title>
					</ion-toolbar>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>	  
</ion-content>